.item .content {
    padding-top: 10px !important;
}

.item .content .header {
    font-size: 14px;
}

.item .content .price {
    font-size: 12px;
    color: #666666;
}

.item .content .status {
    font-size: 12px;
    color: #666666;
}
